<div class="min-h-screen flex items-center justify-center p-6">

  <!-- WINDOW -->
  <div
    class="
      bg-(--theme-b)
      max-w-312.5
      h-215
      w-full
      backdrop-blur-[20px]
      shadow-2xl
      text-[15px]
      font-medium
      flex flex-col
      rounded-3xl
    "
  >

    <!-- TOP BAR -->
<div class="h-15 flex items-center px-4 border-b border-white/10 bg-black/20 shrink-0 rounded-t-2xl">

  <!-- BOTONES MAC -->
  <div class="flex gap-2">
    <span class="w-3 h-3 rounded-full bg-red-500"></span>
    <span class="w-3 h-3 rounded-full bg-yellow-400"></span>
    <span class="w-3 h-3 rounded-full bg-green-500"></span>
  </div>

  <!-- PERFIL A LA DERECHA -->
  <div class="ml-auto">
    <img
      src="assets/photo.png"
      class="w-10 h-10 rounded-full object-cover border border-white/20 shadow-sm"
    />
  </div>

</div>


    <!-- BODY -->
    <div class="flex flex-1 overflow-hidden rounded-3xl">

      <!-- SIDEBAR -->
      <div class="w-62.5 min-w-62.5 border-r border-white/10 p-4">

        <app-sidebar></app-sidebar>
      </div>

      <!-- CONTENT -->
      <div id="content" class="flex-1 overflow-y-auto p-6 scroll-smooth space-y-10">
        <app-about></app-about>
        <app-skills ></app-skills>
        <app-projects></app-projects>
        <app-education></app-education>
      </div>

    </div>
  </div>
</div>
