#content::-webkit-scrollbar {
  width: 8px;
}

#content::-webkit-scrollbar-track {
  background: transparent;
}

#content::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 9999px;
}

#content::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
