

/* Animation */

.skill-item {
    opacity: 0;
    transform: translateY(15px);
    animation: fadeInUp 0.6s ease forwards;
}

.skill-item:nth-child(1) {
    animation-delay: 0.1s;
}

.skill-item:nth-child(2) {
    animation-delay: 0.2s;
}

.skill-item:nth-child(3) {
    animation-delay: 0.3s;
}

.skill-item:nth-child(4) {
    animation-delay: 0.4s;
}

.skill-item:nth-child(5) {
    animation-delay: 0.5s;
}

.skill-item:nth-child(6) {
    animation-delay: 0.6s;
}

.skill-item:nth-child(7) {
    animation-delay: 0.7s;
}

.skill-item:nth-child(8) {
    animation-delay: 0.8s;
}

.skill-item:nth-child(9) {
    animation-delay: 0.9s;
}

.skill-item:nth-child(10) {
    animation-delay: 1.0s;
}

.skill-item:nth-child(11) {
    animation-delay: 1.1s;
}

.skill-item:nth-child(12) {
    animation-delay: 1.2s;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}